body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* Common container */
.container {
  width: 300px;
  margin: 100px auto;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  transition: 0.3s;
}

/* Light Theme */
.light {
  background-color: #ffffff;
  color: #000000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Dark Theme */
.dark {
  background-color: #1e1e1e;
  color: #ffffff;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
}

/* Input */
input {
  width: 90%;
  padding: 8px;
  margin-top: 15px;
  border-radius: 4px;
  border: none;
}

/* Button */
.theme-btn {
  margin-bottom: 15px;
  padding: 6px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
